# Ignorar estes ficheiros ao construir a imagem Docker
__pycache__
*.pyc
*.pyo
*.pyd
.Python
venv/
.venv/
env/
.env
*.db
*.sqlite3
.git
.gitignore
.dockerignore
Dockerfile
*.md
.vscode/
.idea/
alembic/versions/*.pyc
